/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    /*border: 1px solid red !important;*/
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*HOME PAGE STARTS HERE*/

/*Home Page Header*/

Header{
	display: flex;
	align-items: center;
	margin: 5% auto 2%;
	word-spacing: 90px;
	width: 90%;
	justify-content: space-between;
}

header nav a{
	font-size: 18px;
	font-weight: bolder;
	color: silver;
	text-decoration: none;
}

.logo{
	float: right;
	clear: right;
}


/* Home Page - Top Content Starts Here*/

.top-content{
	display: flex;
	text-align: center;
	width: 90%;
	margin: auto;
}

.cta-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

h1{
	font-size: 80px;
	text-align: center;
	letter-spacing: 2px;
}

button{
	width: 140px;
	height: 30px;
  	border: 1px solid black;
	color: black;
	background-color: white;  
  	text-align: center;
	font-size: 14px;
	letter-spacing: .5px;
	font-family: Titillium Web;
}

.topcontent img{
	justify-content: flex-end;
}

/* Home Page - Middle Content Starts Here*/

.middle-content{
	display: flex;
	margin: 5% auto 0 auto;
	width: 90%;
	height: 13%;
	border-top: 1px solid black;
}

.features{
	justify-content: center;
	width: 50%;
	margin: auto;
	padding-right: 2%;
	text-align: justify;
}

.about{
	justify-content: center;
	width: 50%;
	margin: auto;	
	padding-left: 2%;
	text-align: justify;
}

.middle-img{
	display: flex;
 	margin-left: auto;
  	margin-right: auto;
  	width: 90%;
}

/* Home Page - Bottom Content Starts Here*/

.bottom-content{
	display: flex;
	margin: 0% auto 5% auto;
	width: 90%;
	height: 13%;
	border-bottom: 1px solid black;
}

.services{
	justify-content: center;
	width: 30%;
	margin: auto;
	padding-right: 1%;
	text-align: justify;
}

.product{
	justify-content: center;
	width: 30%;
	margin: auto;
	text-align: justify;
}

.vision{
	justify-content: center;
	width: 30%;
	margin: auto;
	padding-left: 1%;
	text-align: justify;
}

/* Home Page - Contact Starts Here */

.contact{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 90%;
}

.contact p{
	line-height: 1;
	margin: 2% 0 0;
}

/* Home Page - Footer Starts Here */

footer{
	margin: 5% 0 0;
	text-align: center;
	margin-bottom: 15%;
}


/* SERVICES PAGE STARTS HERE */

.services-header-img{
	display: flex;
	margin: 0  auto;
	width: 90%;
}
/* Services Page Top Section Starts Here*/

.services-top-content{
	display: flex;
	flex-direction: column;
	margin: 1.5% auto;
	width: 90%;
	height: 10%;
	justify-content: center;
	border-bottom: 1px solid black;
}

.services-top-content h2{
	font-size: 30px;
}

/*Services Section Starts Here */

.services-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 55%;
	margin: 3% auto;
}

#content-box{
	margin: auto;
	background-color: #F3F3F3;
	border: 1px solid black;
	width: 40%;
	height: 30%;
	padding: 2%;
}

#services-button{
	margin-top: 4%;
	border-radius: 5px;
	font-size: 12px;
	
}

h3{
	font-weight: bold;
}

/*Bottom Section Starts Here*/

h2{
	font-weight: bold;
}
.services-bottom{
	display: flex;
	width: 90%;
	margin: auto;
	border-top: 2px solid black;
	padding-top: 3%;
	padding-bottom: 3%;
}

.services-bottom-section{
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	line-height: 1.5;
}


ul{
	list-style-type: square;
	list-style-position: inside;
	
}


/*MEDIA QUERIES BEGIN HERE*/

@media (max-width: 500px){
    header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;     
    }
   
    
    header nav{
        display:flex;
        flex-direction: column;
        border-top: 1px solid black;
        width: 100%;
        margin: 3% auto;
               
    }
    header nav a{
        border-bottom: 1px solid black;
        width: 100%;
        padding: 3%;
        margin: auto;
        text-align: center;
        font-size: 20px;
        
    }
 
    .top-content img{
        display: none;
    }
   .middle-content{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 2%;
        border-top: 2px solid black;
    
    }
    .bottom-content{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 2%;
        border-bottom: 2px solid black;
    }
    .middle-img{
        width: 90%;
        margin: auto;
    }
    .features{
        width: 100%;
        margin: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        
    }
    .about{
        width: 100%;
        margin: auto;
        padding-bottom: 10%;
    }
    .services{
        width: 100%;
        margin: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .product{
        width: 100%;
        margin: auto;
        padding-bottom: 10%;
    }
    .vision{
        width: 100%;
        margin: auto;
        padding-bottom: 10%;
    }
    .contact{
        width: 90%;
        margin: auto;
        padding-bottom: 10%;
    }
    
    h2{
        font-size: 85%;
    }
    p{
        font-size: 85%;
    }

    }

@media (max-width: 800px){

}